* {
    box-sizing: border-box;
}
body {
    background: #0e0d0d url("background.jpg") repeat-y center top fixed;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.nav {
    vertical-align: middle;
    display: inline-block;
}
.button {
    /*border: none;*/
    margin: 2.3vw;
    /*display: inline-block;*/
    padding: 1vw;
    vertical-align: middle;
    /*overflow: hidden;*/
    text-decoration: none;
    color: #FFFFFF;
    background-color: #c9d700;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.fotterbox {
    float: left;
    width: 30%; /* three boxes (use 25% for four, and 50% for two, etc) */
    height: 30vw;
    margin: 1%;
    padding: 1vw; /* if you want space between the images */
    background-color: #0e0d0d;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
